<meta property="og:locale" content="pt_BR" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://iagen.espm.br" />
<meta property="og:title" content="ESPM IAGen" />
<meta property="og:site_name" content="ESPM IAGen" />
<meta property="og:description" content="ESPM IAGen" />
<meta property="og:image" content="https://iagen.espm.br/public/img/login.jpg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="2200" />
<meta property="og:image:height" content="1088" />
<meta name="author" content="ESPM" />
<meta name="description" content="ESPM IAGen" />
<meta name="keywords" content="ESPM, IA, Generativa, ComfyUI" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-mobile-web-app-title" content="ESPM IAGen" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="mobile-web-app-title" content="ESPM IAGen" />
<link rel="apple-touch-icon" sizes="57x57" href="<%- staticRoot %>/img/favicons/apple-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="<%- staticRoot %>/img/favicons/apple-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="<%- staticRoot %>/img/favicons/apple-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="<%- staticRoot %>/img/favicons/apple-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="<%- staticRoot %>/img/favicons/apple-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="<%- staticRoot %>/img/favicons/apple-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="<%- staticRoot %>/img/favicons/apple-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="<%- staticRoot %>/img/favicons/apple-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="<%- staticRoot %>/img/favicons/apple-icon-180x180.png" />
<link rel="icon" type="image/png" sizes="512x512" href="<%- staticRoot %>/img/favicons/favicon-512x512.png" />
<link rel="icon" type="image/png" sizes="192x192" href="<%- staticRoot %>/img/favicons/favicon-192x192.png" />
<link rel="icon" type="image/png" sizes="96x96" href="<%- staticRoot %>/img/favicons/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="48x48" href="<%- staticRoot %>/img/favicons/favicon-48x48.png" />
<link rel="icon" type="image/png" sizes="32x32" href="<%- staticRoot %>/img/favicons/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="<%- staticRoot %>/img/favicons/favicon-16x16.png" />
<link rel="Shortcut Icon" href="<%- staticRoot %>/img/favicons/favicon.png" />
<link rel="manifest" href="<%- staticRoot %>/img/favicons/manifest.webmanifest" />
<meta name="msapplication-config" content="<%- staticRoot %>/img/favicons/browserconfig.xml" />
<meta name="theme-color" content="#a80532" />

<title><%=((typeof titulo === "undefined" || !titulo) ? "ESPM IAGen" : (titulo + " - ESPM IAGen")) %></title>
