<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<%- include("cabecalho") %>

	<%- defineContent("styles") %>
</head>
<body>
	<%- body %>

	<%- include("rodape") %>

	<%- defineContent("scripts") %>
</body>
</html>
