<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion d-none d-md-flex" id="accordionSidebar">

	<li class="nav-item text-center p-3">
		<img src="<%- staticRoot %>/img/logo.png" style="max-width: 100%;">
	</li>

	<hr class="sidebar-divider my-0">

	<!-- Para deixar sempre em destaque, basta adicionar a classe active -->
	<li class="nav-item">
		<a class="nav-link" href="<%- root %>/">
			<i class="fas fa-fw fa-images"></i>
			<span>Imagens</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="<%- root %>/" target="_blank">
			<i class="fas fa-fw fa-edit"></i>
			<span>Criar</span>
		</a>
	</li>

	<% if (usuario.admin) { %>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsuarios" aria-expanded="true" aria-controls="collapseUsuarios">
			<i class="fas fa-fw fa-users"></i>
			<span>Usuários</span>
		</a>
		<div id="collapseUsuarios" class="collapse" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="<%- root %>/usuario/criar">Criar</a>
				<a class="collapse-item" href="<%- root %>/usuario/listar">Gerenciar</a>
			</div>
		</div>
	</li>
	<% } %>

	<hr class="sidebar-divider d-none d-md-block">

	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>

</ul>
