<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

		<base href="<%- urlSite %><%- root %>/comfyUIAssets/" />

		<%- include("../favicons") %>

		<link rel="stylesheet" type="text/css" href="lib/litegraph.css" />
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link rel="stylesheet" type="text/css" href="user.css" />
		<script type="text/javascript" src="lib/litegraph.core.js"></script>
		<script type="text/javascript" src="lib/litegraph.extensions.js" defer></script>
		<script type="text/javascript">
			//<![CDATA[
			"use strict";
			window.usuario = <%- JSON.stringify(usuario) %>;
			window.api_base = "<%- root %>";
			window.extensions_base = "<%- urlSite %><%- root %>/comfyUIAssets";
			window.ws_base = "<%- urlWSProxy %>";
			window.clip_url = "<%- root %>/clip";
			//localStorage.setItem("Comfy.userId", "<%- usuario.email %>");
			//localStorage.setItem("Comfy.userName", "<%- usuario.email %>");
			//]]>
		</script>
		<script type="module">
			//<![CDATA[
			"use strict";
			import { app } from "./scripts/app.js";
			await app.setup();
			window.app = app;
			window.graph = app.graph;
			//]]>
		</script>
	</head>
	<body class="litegraph"></body>
</html>
